[Unit]
Description=Elzwave Recorder
After=multi-user.target

[Service]
User=pi
WorkingDirectory=/home/pi
Type=idle
ExecStart=/home/pi/recorder.sh

[Install]
WantedBy=multi-user.target