[Unit]
Description=Elzwave Recorder
After=multi-user.target

[Service]
User=pi
WorkingDirectory=/home/pi
Type=idle
ExecStart=/home/pi/elzwave-recorder/recorder.sh
Restart=always
RestartSec=10s
StandardError=null

[Install]
WantedBy=multi-user.target